@import '../../style/variables.scss';

.app {
    &__banner {
        background-color: $dark;
        height: 107px;
        display: grid;
        grid-template-columns: 110px auto;
        &-text {
            margin-top: -5px;
            font-size: 20px;
            line-height: 28px;
            color: #FFFFFF;
            padding-left: 53px;
            padding-top: 18px;
        }
    }
}